.header {
  font-weight: 600;
  background-color: var(--mantine-color-red-9);
  /*border-radius: var(--mantine-radius-md);*/
}

.tr{
  background-color: var(--mantine-color-teal-4);
}
.td {
  color: white;
  font-weight: 500;
}

.grandBall {
  width: rem(40px);
  max-width: rem(40px);
  height: rem(40px);

  @media (max-width: $mantine-breakpoint-sm) {
    width: rem(32px) !important;
    max-width: rem(32px);
    height: rem(32px);
  }
}


.ball {
  width: rem(80px);
  max-width: rem(80px);
  height: rem(80px);
}

.ballText {
  top: rem(8px);

  @media (max-width: $mantine-breakpoint-sm) {
    top: rem(6px);
  }
}
