
@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

.root {
    background: linear-gradient(
            -45deg,
            light-dark(var(--mantine-color-red-4), var(--mantine-color-dark-2)),
            light-dark(var(--mantine-color-blue-5), var(--mantine-color-dark-2))
    );
    background-size: 400% 400%;
    animation: gradient-animation 3s ease infinite;
    color:white;
    border-radius: var(--mantine-radius-md);
}
