.root {
    overflow: hidden;
}

.vortex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: var(--mantine-spacing-md);
    width: 100%;
    min-height: 40vh;

    gap: var(--mantine-spacing-xl);
}

.dots {
    position: absolute;
    color: light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-5));

    @media (max-width: $mantine-breakpoint-sm) {
        display: none;
    }
}

.title {
    font-size: var(--mantine-h1-font-size);

    @media (max-width: $mantine-breakpoint-sm) {
        font-size: var(--mantine-h2-font-size) !important;
    }
}

.subtitle {
    font-size: var(--mantine-h2-font-size);

    @media (max-width: $mantine-breakpoint-sm) {
        font-size: var(--mantine-h4-font-size) !important;
    }
}
